{% extends "layout.html" %}

{% block title %}
    Sell Stock
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select id ="symbol" class ="custom-select" name="symbol" >
                {% for n in stock %}
                    <option value= {{ n['stocks'] }}>{{ n['stocks'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="number" id = "shares" name = "shares">
        </div>

        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
